*
{
    margin: 0;
    padding: 50;
}

p

{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif
}

body
{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}